%body
  #top
  .contain-to-grid.fixed
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            %a{:href => "/"} Shady Hollow
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span
      %section.top-bar-section
        / Right Nav Section
        %ul#nav.right
          %li
            %a These DONT WORK yet
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "#portfolio"} Portfolio
          %li
            %a{:href => "#contact"} Contact Us
          %li.social
            %a{:href => "http://facebook.com/x"}
              = fa_icon "facebook-square"
          %li.social
            %a{:href => "#email goes here"}
              = fa_icon "envelope"
          %li.social
            %a{:href => "#something else"}
              = fa_icon "phone"
  %section.jumbo
    .row
      .large-12.columns
        .text-box
          %h1 A very rough First Draft
          %h1 Quiet Country Living
  %section#about
    .row
      .small-12.large-12.columns
        .text-center
          %h2 Welcome to Shady Hollow
          %p Here is a great place to give the high points of the community... Here is a great place to give the high points of the community... Here is a great place to give the high points of the community... Here is a great place to give the high points of the community...
        %div
          %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
            %li
              = image_tag "courthouse.png", alt: "image1"
              %h3.text-center Heading 1
              %p Here's a good place to put some copy about your property. Here's a good place to put some copy about your property. Here's a good place to put some copy about your property. Here's a good place to put some copy about your property.
            %li
              = image_tag "train.png", alt: "image2"
              %h3.text-center Heading 2
              %p Here's a good place to put some copy about your property. Here's a good place to put some copy about your property. Here's a good place to put some copy about your property. Here's a good place to put some copy about your property.
            %li
              = image_tag "tree.png", alt: "image3"
              %h3.text-center Heading 3
              %p Here's a good place to put some copy about your property. Here's a good place to put some copy about your property. Here's a good place to put some copy about your property. Here's a good place to put some copy about your property.
  %section#portfolio
    .row
      .large-12.columns
        %h2 Our Recent Work
        %h4.text-center Some of the best work we have done.
        %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
          %li
            = image_tag "dining-port.png", {alt: "port1", class: "th"}
          %li
            = image_tag "bathroom-port.png", {alt: "port2", class: "th"}
          %li
            = image_tag "bar-port.png", {alt: "port3", class: "th"}
          %li
            = image_tag "garage-port.png", {alt: "port4", class: "th"}
          %li
            = image_tag "bath2-port.png", {alt: "port5", class: "th"}
          %li
            = image_tag "foyer-port.png", {alt: "port6", class: "th"}
          %li
            = image_tag "shower-port.png", {alt: "port7", class: "th"}
          %li
            = image_tag "hvac-port.png", {alt: "port8", class: "th"}
  %footer
    #contact
      .row
        .large-12.columns
          %div
            %ul.small-block-grid-1.large-block-grid-4
              %li
                %h3 Heading 1
                %p Here's a good place to put some copy about your property. Here's a good place to put some copy about your property. Here's a good place to put some copy about your property. Here's a good place to put some copy about your property.
              %li
                %h3 Heading 2
                %p Here's a good place to put some copy about your property. Here's a good place to put some copy about your property. Here's a good place to put some copy about your property. Here's a good place to put some copy about your property.
              %li
                %h3 Heading 3
                %p Here's a good place to put some copy about your property. Here's a good place to put some copy about your property. Here's a good place to put some copy about your property. Here's a good place to put some copy about your property.
              %li
                %h3 Contact Us
                %ul
                  %li
                    %i.fi-telephone
                    (386)205-4380
                  %li
                    %i.fi-home
                    Your Address Here
                    %br Live Oak Florida, 32060
                  %li
                    %i.fi-mail
                    %a{:href => "mailto:info@yourdomain.com"} info@yourdomain.com
              %iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27555.69972297422!2d-82.98380350836013!3d30.309360829310407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88eedde036faa23f%3A0x1e6fcdbd78e33e8d!2s7398+119th+Rd%2C+Live+Oak%2C+FL+32060!5e0!3m2!1sen!2sus!4v1433537126837", :style => "border:0", :width => "1000"}
    .copy
      .row
        .large-12.columns
          .large-4.pull-1.columns.text-center
            %p &copy; Shady Hollow
          .large-4.push-1.columns.text-center
            %p
              Build By:
              %a{:href => "http://bootcoder.herokuapp.com"} Hunter Chapman
          .large-4.push-1.columns.text-center
            / Please Leave this link out of respect for the designer
            %p
              Designed By:
              %a{:href => "http://epickwebdesign.com"} E Pick Web Design
:javascript
  $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                  $('html,body').animate({
                      scrollTop: target.offset().top
                  }, 1000);
                  return false;
              }
          }
      });
  });
