%body
  #top
  .contain-to-grid.fixed
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            %a{:href => "/"} Shady Hollow
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span
      %section.top-bar-section
        / Right Nav Section
        %ul#nav.right
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "#portfolio"} Portfolio
          %li
            %a{:href => "#contact"} Contact Us
          %li.social
            %a{:href => "http://facebook.com/epickwebdesign"}
              %i.fi-social-facebook
          %li.social
            %a{:href => "http://twitter.com/epickwebdesign"}
              %i.fi-social-twitter
          %li.social
            %a{:href => "http://epickwebdesign.com"}
              %i.fi-social-pinterest
  %section.jumbo
    .row
      .large-12.columns
        %h1 We Love Great Design
        %p.text-center
          %a.medium.button.radius{:href => "http://epickwebdesign.com"} Check Us Out!
  %section#about
    .row
      .small-12.large-12.columns
        .text-center
          %h2 Welcome to our site!
          %p Morbi auctor lacinia mi nec suscipit. Vivamus eget dui dignissim, fermentum leo nec, suscipit nunc. Etiam feugiat lacinia sapien, lacinia hendrerit orci fermentum vitae. Quisque posuere vitae elit vitae ornare. Praesent ornare quam id. Morbi auctor lacinia mi nec suscipit. Vivamus eget dui dignissim, fermentum leo nec, suscipit nunc. Etiam feugiat lacinia sapien, lacinia hendrerit orci fermentum vitae. Quisque posuere vitae elit vitae ornare. Praesent ornare quam id.
        %div
          %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
            %li
              = image_tag "image1.jpg", alt: "image1"
              %h3.text-center Heading 1
              %p Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.
            %li
              = image_tag "image2.jpg", alt: "image2"
              %h3.text-center Heading 2
              %p Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.
            %li
              = image_tag "image3.jpg", alt: "image3"
              %h3.text-center Heading 3
              %p Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.
  %section#portfolio
    .row
      .large-12.columns
        %h2 Our Recent Work
        %h4.text-center Some of the best work we have done.
        %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
          %li
            = image_tag "port1.png", {alt: "port1", class: "th"}
          %li
            = image_tag "port2.png", {alt: "port2", class: "th"}
          %li
            = image_tag "port3.png", {alt: "port3", class: "th"}
          %li
            = image_tag "port4.png", {alt: "port4", class: "th"}
          %li
            = image_tag "port5.png", {alt: "port5", class: "th"}
          %li
            = image_tag "port6.png", {alt: "port6", class: "th"}
          %li
            = image_tag "port7.png", {alt: "port7", class: "th"}
          %li
            = image_tag "port8.png", {alt: "port8", class: "th"}
  %footer
    #contact
      .row
        .large-12.columns
          %div
            %ul.small-block-grid-1.large-block-grid-4
              %li
                %h3 Heading 1
                %p Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi.
              %li
                %h3 Heading 2
                %p Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi.
              %li
                %h3 Heading 3
                %p Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi.
              %li
                %h3 Contact Us
                %ul
                  %li
                    %i.fi-telephone
                    (512)111-2222
                  %li
                    %i.fi-home
                    1234 Lorem ipsum
                    %br Austin TX, 78681
                  %li
                    %i.fi-mail
                    %a{:href => "mailto:info@yourdomain.com"} info@yourdomain.com
              %iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27555.69972297422!2d-82.98380350836013!3d30.309360829310407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88eedde036faa23f%3A0x1e6fcdbd78e33e8d!2s7398+119th+Rd%2C+Live+Oak%2C+FL+32060!5e0!3m2!1sen!2sus!4v1433537126837", :style => "border:0", :width => "600"}
    .copy
      .row
        .large-12.columns
          .large-4.pull-1.columns.text-center
            %p &copy; Shady Hollow
          .large-4.push-1.columns.text-center
            %p
              Build By:
              %a{:href => "http://bootcoder.herokuapp.com"} Hunter Chapman
          .large-4.push-1.columns.text-center
            / Please Leave this link out of respect for the designer
            %p
              Designed By:
              %a{:href => "http://epickwebdesign.com"} E Pick Web Design
:javascript
  $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                  $('html,body').animate({
                      scrollTop: target.offset().top
                  }, 1000);
                  return false;
              }
          }
      });
  });
